
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@1,900&family=Raleway:wght@300&family=Redressed&family=Varela+Round&display=swap');
 
.cont2 {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}

.cont{
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}
